</div>
<div id="footer">CC by-nc-nd <a href="http://twitter.com/example">Admin</a> &mdash; <a href="mailto:admin&#64;cursed&#46;cat">admin&#64;cursed&#46;cat</a><br/>
Generated with <a href="https://github.com/cfenollosa/bashblog">bashblog</a>, a single bash script to easily create blogs like this one</div>
</div></div>
</body></html>